@import url(https://fonts.googleapis.com/css?family=Roboto);html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
}
h2.main-title {
  font-size: 2.5em;
}
a:visited {
  color: #fff;
}
img {
  width: 100%;
  height: auto;
}
.main-picture {
  height: 100vh;
  z-index: 1000;
  background: url("../img/foosball-min.jpg") no-repeat center center fixed;
}
@media screen and (max-width: 767px) {
  .main-picture {
    background: url("../img/foosball-min.jpg") no-repeat center center;
  }
}
.main-center-text {
  width: 90vh;
  height: 50vh;
  font-size: 5em;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .main-center-text {
    font-size: 2em;
  }
}
.col-1 {
  width: 8.33333%;
  display: inline-block;
}
.col-2 {
  width: 16.66667%;
  display: inline-block;
}
.col-3 {
  width: 25%;
  display: inline-block;
}
.col-4 {
  width: 33.33333%;
  display: inline-block;
}
.col-5 {
  width: 41.66667%;
  display: inline-block;
}
.col-6 {
  width: 50%;
  display: inline-block;
}
.col-7 {
  width: 58.33333%;
  display: inline-block;
}
.col-8 {
  width: 66.66667%;
  display: inline-block;
}
.col-9 {
  width: 75%;
  display: inline-block;
}
.col-10 {
  width: 83.33333%;
  display: inline-block;
}
.col-11 {
  width: 91.66667%;
  display: inline-block;
}
.col-12 {
  width: 100%;
  display: inline-block;
}
.col-sm-1 {
  width: 16.66667%;
  display: inline-block;
}
.col-sm-2 {
  width: 33.33333%;
  display: inline-block;
}
.col-sm-3 {
  width: 50%;
  display: inline-block;
}
.col-sm-4 {
  width: 66.66667%;
  display: inline-block;
}
.col-sm-5 {
  width: 83.33333%;
  display: inline-block;
}
.col-sm-6 {
  width: 100%;
  display: inline-block;
}
.fluid {
  min-width: 100%;
}
.container {
  width: 1000px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.full-height {
  height: 100%;
}
.padding-1 {
  padding: 1em;
}
.padding-1.first-element {
  padding: 1em 1em 1em 0;
}
@media screen and (max-width: 767px) {
  .padding-1.first-element {
    padding: 1em;
  }
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.columns.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.box {
  padding: 2em;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-around {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .small-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .flex-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flex-column-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}
.loader #test {
  height: 5em;
  width: 5em;
  background-color: #00f;
}
#main-nav {
  background-color: #808080;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-nav .desktop-nav {
  width: 100%;
  position: absolute;
}
@media screen and (max-width: 767px) {
  #main-nav .desktop-nav {
    display: none;
  }
}
.mobile-nav {
  display: none;
  position: absolute;
}
.mobile-nav li {
  background-color: rgba(0,0,0,0.2);
}
@media screen and (max-width: 767px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hamburger {
  cursor: pointer;
}
.nav-item {
  padding: 1.5em;
}
.nav-item a {
  text-decoration: none;
}
.primary {
  background-color: #fff;
  height: 100vh;
}
.secondary {
  background-color: #808080;
  width: 100%;
  height: 100vh;
}
.primary .container,
.secondary .container {
  width: 100%;
  height: 100%;
}
.primary .icon,
.secondary .icon,
.primary .content,
.secondary .content {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .primary .icon,
  .secondary .icon,
  .primary .content,
  .secondary .content {
    width: 100%;
  }
}
.content {
  background-color: #fff;
}
.icon {
  background-color: #000;
}
.inner-content {
  width: 60%;
}
.extra-image {
  height: 300px;
  width: auto;
}
.image-gallery {
  height: 70vh;
  background-color: #fff;
  border-top: #808080;
}
@media screen and (max-width: 767px) {
  .image-gallery {
    height: 100%;
  }
}
.footer {
  height: 30vh;
  background-color: #a9a9a9;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 35vh;
  }
}
@media (min-width: 767px) {
  .slide-fade-enter-active {
    -webkit-transition: all 1.5s cubic-bezier(1, 0.5, 0.8, 1);
    transition: all 1.5s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-leave-active {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slide-fade-enter,
  .slide-fade-leave-to {
    opacity: 0;
  }
}
.call {
  height: 50vh;
  width: 300px;
  padding: 1em;
}
.round {
  background-color: #d2691e;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 767px) {
  .round {
    height: 200px;
    width: 200px;
  }
}
.button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.gallery-img {
  height: 300px;
  width: 300px;
}
