

.call
  height 50vh
  width 300px
  //background-color green
  padding 1em

.round
  background-color chocolate
  border-radius 50%
  height 300px
  width 300px
  @media screen and (max-width 767px)
    height 200px
    width 200px