$main-color = #fff;
$main-color-dark = darken($main-color,30);
$main-color-light = lighten($main-color,30);


$secondary-color = grey;
$secondary-color-dark = darken($secondary-color,20);
$secondary-color-light = lighten($secondary-color,30);
