$main-color = red;
$main-color-dark = darken(blue,30);
$main-color-light = lighten(red,30);


$secondary-color = green;
$secondary-color-dark = darken(green,30);
$secondary-color-light = lighten(green,30);
