.sell-icons
  height 40vh;
  background-color #fff
  border-top grey
  @media screen and (max-width 767px)
    height 65vh


.footer
  height 60vh
  background-color darkgray
  @media screen and (max-width 767px)
    height 35vh
