.image-gallery
  height 70vh;
  background-color #fff
  border-top grey
  @media screen and (max-width 767px)
    height 100%


.footer
  height 30vh
  background-color darkgray
  @media screen and (max-width 767px)
    height 35vh
