.sell-icons
  background-color #fff
  border-top grey

// NORMALE CSS
.voorbeeld{
  background-color: blue;
  width 100%
}

.voorbeeld > p{
  font-size: 20px;
}

//-------------------------

// STYLUS
.voorbeeld
  background-color blue
  width 100%
  p
    font-size 20px

