html
body
  height 100%

body
  margin 0
  font-family sans-serif
  font-size 15px

.footer
  height 30vh
  background-color darkgray

img
  width 100%
  height auto
  
.main-picture
  height 100vh
  z-index 1000
  background url('../img/foosball-min.jpg') no-repeat center center fixed